@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Zilla+Slab:wght@400;700&display=swap');

.config-body {
  position: fixed;
  background: white;
  border-radius: 100%;
  right: 10px;
  bottom: 120px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: block;
    border-radius: 0;
    bottom: 35%;
    height: auto;
    padding: 20px;
    border: 1px solid #000;
    right: 20px;
    border-radius: 0;
  }
  label {
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
  }
  .tools {
    width: 110px;
    display: none;
    @media screen and (min-width: 768px) {
      display: block; 
    }
  }
  &.config-body-open {
    padding: 20px;
    border-radius: 0;
    border: 1px solid #000;
    height: auto;
    align-items: flex-end;
    .tools {
      display: block !important;
    }
  }
}

.fonts {
  display: flex;
  justify-content: space-between;
  button {
    border: 2px solid black;
    background: none;
    font-size: 20px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #F3DD28;
    }
  }
}